n8n-workflows/airtop-email-otp-automation.json
{
  "name": "Airtop Email OTP Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "airtop-email-otp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "airtop-email-otp"
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "verification_logs",
        "dataMode": "defineInNode",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldName": "profile_id",
              "fieldValue": "={{ $json.profile_id }}"
            },
            {
              "fieldName": "event_type",
              "fieldValue": "email_sent"
            },
            {
              "fieldName": "event_data",
              "fieldValue": "={{ JSON.stringify({ email: $json.email, name: $json.name }) }}"
            }
          ]
        }
      },
      "id": "log-email-start",
      "name": "Log Email Verification Start",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate temporary email using 33mail or similar service\nconst webhookData = $input.first().json;\nconst userEmail = webhookData.email;\nconst userId = webhookData.user_id;\n\n// Generate a unique email alias\nconst timestamp = Date.now();\nconst tempEmail = `wallestars-${userId}-${timestamp}@33mail.com`;\n\nreturn {\n  json: {\n    ...webhookData,\n    temp_email: tempEmail,\n    original_email: userEmail,\n    email_alias_created_at: new Date().toISOString()\n  }\n};"
      },
      "id": "generate-temp-email",
      "name": "Generate Temp Email Alias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "verified_business_profiles",
        "filterType": "string",
        "filterString": "id=eq.{{ $json.profile_id }}",
        "dataMode": "defineInNode",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "email_alias",
              "fieldValue": "={{ $json.temp_email }}"
            }
          ]
        }
      },
      "id": "save-email-alias",
      "name": "Save Email Alias to DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIRTOP_API_URL || 'https://api.airtop.ai' }}/v1/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtopApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"configuration\": {\n    \"browser\": \"chrome\",\n    \"viewport\": {\n      \"width\": 1920,\n      \"height\": 1080\n    },\n    \"timeout\": 120000\n  }\n}",
        "options": {}
      },
      "id": "airtop-create-session",
      "name": "Airtop: Create Browser Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract session data and prepare for email flow\nconst input = $input.first().json;\nconst webhookData = $('Generate Temp Email Alias').first().json;\n\nconst sessionData = input.data || input;\n\nreturn {\n  json: {\n    ...webhookData,\n    session_id: sessionData.id || sessionData.sessionId,\n    cdp_url: sessionData.cdpWsUrl || sessionData.cdp_url,\n    session_created_at: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-session",
      "name": "Extract Session Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIRTOP_API_URL || 'https://api.airtop.ai' }}/v1/sessions/{{ $json.session_id }}/windows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtopApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.33mail.com/inbox\"\n}",
        "options": {}
      },
      "id": "airtop-navigate-inbox",
      "name": "Airtop: Navigate to Email Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add window_id for navigation\nconst input = $input.first().json;\nconst prevData = $('Extract Session Data').first().json;\n\nconst windowData = input.data || input;\n\nreturn {\n  json: {\n    ...prevData,\n    window_id: windowData.id || windowData.windowId\n  }\n};"
      },
      "id": "extract-window",
      "name": "Extract Window ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 10
      },
      "id": "wait-for-email",
      "name": "Wait for Email to Arrive",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIRTOP_API_URL || 'https://api.airtop.ai' }}/v1/sessions/{{ $json.session_id }}/windows/{{ $json.window_id }}/prompt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtopApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Look for the email address {{ $json.temp_email }} in the inbox. Find the most recent verification email. Open it and extract the verification code (usually 4-6 digits or an alphanumeric code). Also extract any verification link if present. Return both the code and link.\",\n  \"model\": \"claude-3-5-sonnet-20241022\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "airtop-extract-code",
      "name": "Airtop: Extract Email Code with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 400],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and extract verification code and link\nconst input = $input.first().json;\nconst aiResponse = input.data?.response || input.response || '';\n\n// Try to extract verification code (4-6 digits or alphanumeric)\nlet code = null;\nlet verificationLink = null;\n\n// Try numeric code first\nconst numericMatch = aiResponse.match(/\\b(\\d{4,6})\\b/);\nif (numericMatch) {\n  code = numericMatch[1];\n}\n\n// Try alphanumeric code\nif (!code) {\n  const alphanumericMatch = aiResponse.match(/\\b([A-Z0-9]{6,10})\\b/);\n  if (alphanumericMatch) {\n    code = alphanumericMatch[1];\n  }\n}\n\n// Extract verification link\nconst linkMatch = aiResponse.match(/(https?:\\/\\/[^\\s]+verify[^\\s]*)/);\nif (linkMatch) {\n  verificationLink = linkMatch[1];\n}\n\n// Try to extract from JSON if AI returns structured data\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    code = parsed.code || parsed.verification_code || code;\n    verificationLink = parsed.link || parsed.verification_link || verificationLink;\n  }\n} catch (e) {\n  // Continue with regex matches\n}\n\nconst webhookData = $('Extract Window ID').first().json;\n\nreturn {\n  json: {\n    ...webhookData,\n    code: code,\n    verification_link: verificationLink,\n    raw_response: aiResponse,\n    extracted_at: new Date().toISOString(),\n    success: !!(code || verificationLink)\n  }\n};"
      },
      "id": "parse-email-code",
      "name": "Parse Email Code & Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "verified_business_profiles",
        "filterType": "string",
        "filterString": "id=eq.{{ $json.profile_id }}",
        "dataMode": "defineInNode",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "email_confirmation_code",
              "fieldValue": "={{ $json.code }}"
            },
            {
              "fieldName": "email_verification_link",
              "fieldValue": "={{ $json.verification_link }}"
            },
            {
              "fieldName": "email_verified_at",
              "fieldValue": "={{ $json.success ? new Date().toISOString() : null }}"
            }
          ]
        }
      },
      "id": "update-email-verification",
      "name": "Update Email Verification in DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "verification_logs",
        "dataMode": "defineInNode",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldName": "profile_id",
              "fieldValue": "={{ $json.profile_id }}"
            },
            {
              "fieldName": "event_type",
              "fieldValue": "={{ $json.success ? 'email_verified' : 'email_received' }}"
            },
            {
              "fieldName": "event_data",
              "fieldValue": "={{ JSON.stringify({ code: $json.code, link: $json.verification_link, success: $json.success }) }}"
            }
          ]
        }
      },
      "id": "log-email-result",
      "name": "Log Email Verification Result",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 400],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.AIRTOP_API_URL || 'https://api.airtop.ai' }}/v1/sessions/{{ $json.session_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtopApi",
        "options": {}
      },
      "id": "airtop-cleanup",
      "name": "Airtop: Cleanup Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 400],
      "credentials": {
        "airtopApi": {
          "id": "{{AIRTOP_CREDENTIAL_ID}}",
          "name": "Airtop API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: $json.success,\n  code: $json.code,\n  verification_link: $json.verification_link,\n  message: $json.success ? 'Email verification code/link extracted successfully' : 'Failed to extract email verification data',\n  user_id: $json.user_id,\n  profile_id: $json.profile_id,\n  verified_at: $json.extracted_at,\n  timestamp: new Date().toISOString()\n}) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3050, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log Email Verification Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Verification Start": {
      "main": [
        [
          {
            "node": "Generate Temp Email Alias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Temp Email Alias": {
      "main": [
        [
          {
            "node": "Save Email Alias to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email Alias to DB": {
      "main": [
        [
          {
            "node": "Airtop: Create Browser Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtop: Create Browser Session": {
      "main": [
        [
          {
            "node": "Extract Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session Data": {
      "main": [
        [
          {
            "node": "Airtop: Navigate to Email Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtop: Navigate to Email Inbox": {
      "main": [
        [
          {
            "node": "Extract Window ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Window ID": {
      "main": [
        [
          {
            "node": "Wait for Email to Arrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Email to Arrive": {
      "main": [
        [
          {
            "node": "Airtop: Extract Email Code with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtop: Extract Email Code with AI": {
      "main": [
        [
          {
            "node": "Parse Email Code & Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Code & Link": {
      "main": [
        [
          {
            "node": "Update Email Verification in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Email Verification in DB": {
      "main": [
        [
          {
            "node": "Log Email Verification Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Verification Result": {
      "main": [
        [
          {
            "node": "Airtop: Cleanup Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtop: Cleanup Session": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [
    "airtop",
    "email",
    "otp",
    "automation",
    "wallestars"
  ],
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1.0.0"
}
